.c1
{
   height: 20px;
   
    padding:10px;
    background-color: grey;
    text-align: center;

}
.c2
{
   height: 20px;
   
    padding:10px;
    background-color: grey;
    margin-top: 10px;


}
.c{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.c3
{
   height: 20px;
   width: 18%;
    padding-block:20%;
    background-color: grey;
    text-align: center;
    display: inline-block;
    
}
.c4
{
    display: inline-block;
   height: 20px;
   width: 62%;
    padding-block:20%;
    text-align: center;
    background-color: grey;
   


}
.c5
{
    display: inline-block;
   height: 20px;
   width: 18%;
    padding-block:20%;
    background-color: grey;
    text-align: center;
    

}
.c6
{
    margin-top: 10px;
   height: 20px;
  
    padding:10px;
    background-color: grey;

}

