.c1
{
   height: 20px;
   width: 100%;
    padding:10px;
    background-color: grey;
    text-align: center;

}
.c2
{
   height: 20px;
   width: 100%;
    padding:10px;
    background-color: grey;

}
.c{
    display: flex;
    justify-content: space-between;
}
.c3
{
   height: 20px;
   width: 18%;
    padding-block:20%;
    background-color: grey;
    text-align: center;
    display: inline-block;
    margin-left:1;
}
.c4
{
    display: inline-block;
   height: 20px;
   width: 61%;
    padding-block:20%;
    text-align: center;
    background-color: grey;
    margin-left: 0%;


}
.c5
{
    display: inline-block;
   height: 20px;
   width: 18%;
    padding-block:20%;
    background-color: grey;
    text-align: center;
    

}
.c6
{
   height: 20px;
   width: 100%;
    padding:10px;
    background-color: grey;

}

